<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516125715840-91k0rd5nk89g62l7tdepocrijcujl5l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516125715840-91k0rd5nk89g62l7tdepocrijcujl5l8</string>
	<key>API_KEY</key>
	<string>AIzaSyA3hcugiCA8dfPmfeOyEZRPGvttXXbqeFA</string>
	<key>GCM_SENDER_ID</key>
	<string>516125715840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-bd982</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-bd982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516125715840:ios:664f3830b9e717c04c6565</string>
</dict>
</plist>